body {
  font-family: $fontfamily-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color-main;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.dev-outr {
  border: 1px solid red;
}

.dev-outb {
  border: 1px solid blue;
}

.white-space {
  white-space: nowrap;
}
