$fontfamily-main: "Roboto", Arial, Helvetica, sans-serif;
$fontfamily-logo: "Raleway", Arial, Helvetica, sans-serif;

$textColor-main: #212121;
$textColor-secondary: #757575;
$textColor-accent: #2196f3;
$textColor-darkbg: #ffffff;

$logoColor-first: #2196f3;
$logoColor-second: #212121;
$logoColor-third: #ffffff;

$iconsColor-background: #afb1b8;
$iconsColor-accent: #2196f3;
$iconsColor-darkbg: #ffffff;
$iconsColor-lightbg: #212121;
$iconsColor-header: #757575;

$formColor-border: rgba(33, 33, 33, 0.2);

$btn-background: #2196f3;
$btn-accent: #188ce8;

$cards-background: rgba(33, 150, 243, 0.9);

$transition-time: 2500ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
